/* Стиль для Header */
.terminal-header {
    background: #0a0a12;
    border: 2px solid #8a2be2;
    padding: 20px;
    text-align: center;
    box-shadow: 
        0 0 10px #8a2be2,
        0 0 20px rgba(138, 43, 226, 0.5),
        inset 0 0 15px rgba(138, 43, 226, 0.1);
}

.glitch-text {
    color: #ff00ff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 
        0 0 10px #ff00ff,
        0 0 20px #ff00ff,
        0 0 40px #ff00ff;
}
/*Стиль для H6 в Header*/
.glitch-H6-text{
    color: #01cacb;
    font-family: 'Orbitron', sans-serif;
    display:inline-block;
    padding:0px 4px;
    text-shadow: 
        0 0 10px #01cacb,
        0 0 20px #01cacb;
    animation: blink 2s infinite;
}

.container-avatar {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 100px;

    /*закругление краев*/
    border-radius: 15px;

    /*бордер*/
    border: 3px solid #ba2ed3;
    overflow: hidden;

    /*Неоновый стиль свечения*/
    box-shadow: 
        0 0 15px #ba2ed3, /*первый слой*/
        0 0 30px rgba(186, 46, 211, 0.4); /*второй слой*/
}

.avatar-size {
    width: 100%;
    height: 100%;
    object-fit: cover; /*закругление самой аватарки*/
}

/*контейнер текста под автаркой*/
.avatar-text {
    color: #730477;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 550px;
    left: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*текст под авой*/
.avatar-text-down1,
.avatar-text-down2,
.avatar-text-down3 {
    margin: 0; /* убирает стандартные отступы у параграфов */
    line-height: 1.2; /* межстрочный интервал */
}

.container-system-boot{
    /*size*/
    width: 1000px; /*ширина*/
    height: 150px; /*высота*/

    /*posishon*/
    position: absolute; /*позволяет свободно перемещать*/
    top: 300px;
    left: 600px;

    /*внешний вид*/
    background-color: #170d26;
    border: 4px solid #331353;
    border-radius: 15px;

    /*Неоновый стиль свечения*/
    box-shadow:
        0 0 20px rgba(255, 0, 255, 0.2),
        inset 0 0 20px rgba(255, 0, 255, 0.1);
}

/*обработка текста в system boot*/
.text-in-system-boot{
    color: #ff00ff;
    position: absolute;
    top: 50px;
    left: 100px;
    
    text-shadow: 
        0 0 10px #ff00ff,
        0 0 20px #ff00ff;
}

/*контейнер about me*/
.father-container{
    color: #ff00ff;
    font-family: 'Orbitron', sans-serif;
     box-shadow: 
        0 0 15px #ff00ff,
        0 0 30px rgba(255, 0, 255, 0.3);
}
.prompt{
    color: #01cacb;
}

.terminal-about{
    position: absolute;
    width: 1000px;
    border-radius: 4px;
    background-color: #170d26;

    top: 550px;
    left: 600px
}

.terminal-skill{
    position: absolute;
    width: 1000px;
    border-radius: 4px;
    background-color: #170d26;
    top: 600px;
    left: 600px
}
.terminal-project{
    position: absolute;
    width: 1000px;
    border-radius: 4px;
    background-color: #170d26;
    top: 650px;
    left: 600px
}
.terminal-contact{
    position: absolute;
    width: 1000px;
    border-radius: 4px;
    background-color: #170d26;
    top: 700px;
    left: 600px
}

.content-box{
    position: absolute;
    width: 1000px;
    top: 800px;
    left: 600px;
    background-color: #170d26;
    border: 4px solid #331353;
    border-radius: 15px;
    
}

#user{
    color: #01cacb;
}

#content-text{
    background-color: #170d26;
    border-radius: 15px;    
    color:#ff00ff;
}

