/* Стиль для Header */
.terminal-header {
    background: #0a0a12;
    border: 2px solid #8a2be2;
    padding: 20px;
    text-align: center;
}

.glitch-text {
    color: #ff00ff;
    font-family: 'Orbitron', sans-serif;
}
/*Стиль для H6 в Header*/
.glitch-H6-text{
    color: #05c4c9;
    font-family: 'Orbitron', sans-serif;
    display:inline-block;
    padding:0px 4px;
}

.avatar-size{
    width: 200px;
    height: 200px;
    right: 150px;
}